---
import Layout from "../layouts/Layout.astro";
import AudioPlayer from "../components/AudioPlayer.astro";
import Count from "../components/count/Count";
import Button from "../components/Button.astro";
import WeddingEvent from "../components/WeddingEvent .astro";
import Dresscode from "../components/Dresscode.astro";
import ConfirmAssistance from "../components/ConfirmAssistance.astro";
import PhotoCollage from "../components/PhotoCollage.astro";
import WeAreWaiting from "../components/WeAreWaiting.astro";
import HeroImage from "../components/HeroImage.astro";
const audioSrc = "/music/amtrak.mp3";
const targetDate = new Date("December 25, 2024 00:00:00"); // Fecha objetivo


const photos = [
    '/images/jtp.jpg',
    '/images/jtp2.jpg',
    '/images/jtp3.jpg',
    '/images/jtp4.jpg',
    '/images/jtp5.jpg'
];

const husband = "Juan";
const wife = "Alba";
---

<Layout title="Welcome to Astro.">
  <main>
    <HeroImage
			src="https://www.elramovolador.com/wp-content/uploads/2020/06/preboda_en_begur.jpg"
			alt="Imagen de Alba y Juan"
			subtitle="Nuestra boda"
      husband={husband}
      wife={wife}
		/>
    <AudioPlayer src={audioSrc} />

    <div class="initial-text">
      <h2 class="title">Estás Invitado!</h2>
      <p class="subtitle">
        Queremos que seas parte de este momento tan especial.
      </p>
    </div>

    <Count client:load targetDate={targetDate} />

    <div class="btnSchedule">
      <Button
        url="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Boda&dates=20241225%2F20241226&details=Celebraci%C3%B3n%20de%20nuestra%20boda!&sf=true"
        text="AGENDAR RECORDATORIO"/>
    </div>

    <WeddingEvent
      img="/anillos.png"
      title="CEREMONIA"
      subtitle1="Iglesia Santisima Virgen"
      subtitle2="Te esperamos el"
      date="27 SEP"
      hour="19:00 PM"
      direction1="Avenida uno 118"
      direction2="Ciudad del lugar, pais"/>
      
    <WeddingEvent
      img="/copas.png"
      title="CELEBRACIÓN"
      subtitle1="La celebración se realizara en"
      subtitle2="Del Carril Evento"
      date="27 SEP"
      hour="19:00 PM"
      direction1="Calle, #123"
      direction2="Ciudad del lugar, pais"/>
    <br />
    <Dresscode  
      imgD="/trajes.png" 
      title="DRESSCODE" 
      subtitle1="Formal" 
      subtitle2="¡Luce tu mejor look!" />
    <PhotoCollage photos={photos} />
    <ConfirmAssistance />
    <WeAreWaiting  husband={husband} wife={wife} />
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
    box-sizing: border-box;
  }

  .initial-text {
    text-align: center;
    margin: 0px 20%;
  }
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .subtitle {
    font-size: 1.2rem;
  }
  .btnSchedule {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
</style>
