---
import Button from "./Button.astro";

const { img, title, subtitle1, subtitle2, date, hour, direction1,  direction2 } = Astro.props;
---

<div class="weddingEvent">
    <img src={img} alt="">
    <h2 class="title">{title}</h2>
    <p class="subtitle1">{subtitle1}</p>
    <p class="subtitle2">{subtitle2}</p>
    <div class="date-hour">
        <span class="date">{date}</span>
        <span class="separator">|</span>
        <span class="hour">{hour}</span>
    </div>
    <br>
    <p class="subtitle1">{direction1}</p>
    <p class="subtitle2">{direction2}</p>

    <Button url="a" text="VER UBICACIÓN"></Button>
</div>

<style>
    .weddingEvent{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .weddingEvent img{
        margin-top: 30px;
        width: 80px;
        
    }
    .weddingEvent .title{
        margin-top: 10px;
    }
    .weddingEvent .subtitle1 {
        font-size: 18px;
        margin-top: -10px;
    }
    .weddingEvent .subtitle2 {
        font-size: 18px;
        margin-top: -10px;
    }
    .weddingEvent .date-hour {
        font-size: 25px;
    }
    .weddingEvent .date {
        margin-right: 10px;
    }
    .weddingEvent .separator {
        margin: 0 10px;
        font-size: 2rem;
    }
    .weddingEvent .hour {
        margin-left: 10px;
    }

</style>